.button {
  font: inherit;
  border: 1px solid rgb(251, 137, 71);
  background: rgb(251, 137, 71);
  color: white;
  padding: 0.5rem 2rem;
  cursor: pointer;
  margin: 1rem;
  border-radius: 2px;
  min-width: 200px;
}

.button:hover,
.button:active {
  background: #398bab;
  border-color: #398bab;
}

.button:focus {
  outline: none;
}
